django==3.2
djangorestframework
django-constance[database]
# mollie-api-python # for dummpy payment
django-cors-headers
django-private-storage
drf-writable-nested
gunicorn
python-wordpress-xmlrpc==2.3
psycopg2-binary