<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Order</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <nav>
        This is the navbar
    </nav>
    <main>
        <h1>Create an order</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <div>Click below to create an order for yourself</div>
            <input name="name" placeholder="Enter your name...">
            <div id="orderEvent"><input type="button" value="Create" id="create"></div>
        </form>
    </main>
</body>
<script type="text/javascript">
    user = {{request.user.id}};
    const csrf = document.getElementsByName("csrfmiddlewaretoken"); 
    const fetchUsers = () => {
    axios.post('http://127.0.0.1:8000/api/order-create/', data={"user": user},
            {
                headers: {
                    'CSRF_COOKIE': `${csrf}`,
                    'HTTP_COOKIE': `csrftoken=${csrf}`,
                },
            }
    )
        .then(response => {
            const result = response.data;
            console.log(result);
            if (response.status == 201){
                orderCreated = true;
                console.log(result)
                localStorage.setItem("product-token-register", result.token);
                document.getElementById("orderEvent").innerHTML = '<a href="/product/">View Product </a>';
            } else if (response.status == 200) {
                orderCreated = false;
                document.getElementById("orderEvent").innerHTML = '<a href="/product/">View Product </a>';
            }
        })
        .catch(error => console.error(error));
    };
    document.getElementById("create").onclick = fetchUsers
</script>
</html>